onedrive-worlfow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "fileName": "=",
        "parentId": "={{ $json.id_pasta_destino }}",
        "binaryData": true,
        "binaryPropertyName": "=data"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        2000,
        352
      ],
      "id": "afd7fb84-9f0d-4cf9-a023-2184885d95cb",
      "name": "Mail in pdf upload",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "1Waf1fVLUg7lO3Mh",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}",
        "simple": false,
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -448,
        352
      ],
      "id": "f2820144-7279-4938-9d71-499fc2924c47",
      "name": "Get a message1",
      "webhookId": "ecfa5eba-bf34-414a-a951-12fde0edc8bb",
      "credentials": {
        "gmailOAuth2": {
          "id": "EPHE75hEclWyGsta",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -688,
        352
      ],
      "id": "a68d59fd-2423-486d-8b51-f9e8513f803c",
      "name": "Gmail Trigger1",
      "credentials": {
        "gmailOAuth2": {
          "id": "EPHE75hEclWyGsta",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gotenberg:3000/forms/chromium/convert/html",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "index_html"
            },
            {
              "name": "printBackground",
              "value": "true"
            },
            {
              "name": "paperWidth",
              "value": "8.27"
            },
            {
              "name": "paperHeight",
              "value": "11.7"
            },
            {
              "name": "marginTop",
              "value": "0"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        304,
        208
      ],
      "id": "8006aadd-4079-471c-913e-d230b7850f3d",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "model": "=llama3.2",
        "options": {
          "format": "json"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        240,
        720
      ],
      "id": "dea4ed5f-702c-4624-8cdb-2bb0b58f7bea",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "rIi2NnYqqBrCxyVL",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// --- CONFIGURAÇÃO ---\nconst MEU_EMAIL = \"da.33.ne@gmail.com\"; \n// --------------------\n\nreturn $input.all().map(item => {\n  // 1. Tentar ler o JSON da IA\n  let dadosIA = {};\n  try {\n    const textoLimpo = (item.json.text || \"{}\").replace(/```json|```/g, \"\").trim();\n    dadosIA = JSON.parse(textoLimpo);\n  } catch (e) {\n    dadosIA = { id_projeto: \"000\", nome_projeto: \"Geral\", entidade: \"Desconhecido\", resumo_3_palavras: \"Documento\" };\n  }\n\n  // 2. Lógica REC/ENV (Correção Profunda para Estrutura do Gmail)\n  let rawFrom = item.json.from;\n  let enderecoEmail = \"\";\n\n  // O Gmail manda algo como: { value: [ { address: \"email@...\" } ] }\n  if (rawFrom && typeof rawFrom === 'object') {\n    if (Array.isArray(rawFrom.value) && rawFrom.value.length > 0) {\n      enderecoEmail = rawFrom.value[0].address; // Onde o email vive de verdade\n    } else if (rawFrom.address) {\n      enderecoEmail = rawFrom.address;\n    } else if (rawFrom.email) {\n      enderecoEmail = rawFrom.email;\n    } else {\n      enderecoEmail = \"desconhecido\";\n    }\n  } else {\n    enderecoEmail = String(rawFrom || \"\");\n  }\n\n  const remetente = enderecoEmail.toLowerCase();\n  const sentido = remetente.includes(MEU_EMAIL.toLowerCase()) ? \"ENV\" : \"REC\";\n\n  // 3. Data Invertida\n  const hoje = new Date();\n  const yyyy = hoje.getFullYear();\n  const mm = String(hoje.getMonth() + 1).padStart(2, '0');\n  const dd = String(hoje.getDate()).padStart(2, '0');\n  const dataPasta = `${yyyy}${mm}${dd}`;\n\n  // 4. Caminhos e Limpeza\n  const limpar = (txt) => (txt || \"Desconhecido\").replace(/[\\/\\\\:*?\"<>|]/g, \"\").trim();\n  const nomePastaFinal = `${dataPasta}_${sentido}`;\n  \n  // Caminho exato para o OneDrive\n  const caminhoVirtual = `AL-P/${limpar(dadosIA.id_projeto)}-${limpar(dadosIA.nome_projeto)}/Entidades/${limpar(dadosIA.entidade)}/${nomePastaFinal}`;\n\n  const nomeBase = (dadosIA.resumo_3_palavras || \"Doc\")\n    .replace(/[^a-zA-Z0-9_ -]/g, \"\")\n    .replace(/\\s+/g, \"_\");\n\n  // 5. Processar Binários\n  const novosBinarios = {};\n  if (item.binary) {\n    let contadorAnexos = 1;\n\n    // PDF Principal\n    if (item.binary.index_html) {\n      novosBinarios.data = item.binary.index_html;\n      novosBinarios.data.fileName = `${nomeBase}.pdf`;\n    } else if (item.binary.data) {\n       novosBinarios.data = item.binary.data;\n       novosBinarios.data.fileName = `${nomeBase}.pdf`;\n    }\n\n    // Anexos Extra\n    for (const key in item.binary) {\n      if (key !== 'index_html' && key !== 'data') {\n        const ficheiroOriginal = item.binary[key];\n        const extensao = ficheiroOriginal.fileName ? ficheiroOriginal.fileName.split('.').pop() : 'bin';\n        const nomeAnexo = `${nomeBase}_anexo_${contadorAnexos}.${extensao}`;\n        \n        novosBinarios[`anexo_${contadorAnexos}`] = {\n          ...ficheiroOriginal,\n          fileName: nomeAnexo\n        };\n        contadorAnexos++;\n      }\n    }\n  }\n\n  // RETORNO LIMPO (Sem lixo do email original)\n  return {\n    json: {\n      status: \"Processado com Sucesso\",\n      caminho_final: caminhoVirtual,\n      nome_base: nomeBase,\n      \n      // Metadados úteis\n      id_projeto: dadosIA.id_projeto,\n      nome_projeto: dadosIA.nome_projeto,\n      entidade: dadosIA.entidade,\n      sentido: sentido,\n      \n      // Debug (Para confirmares que funcionou)\n      debug_email_lido: enderecoEmail \n    },\n    binary: novosBinarios\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        352
      ],
      "id": "ecce8e25-27a1-4c18-b59e-9aa8d95a1a21",
      "name": "Rename pdf1"
    },
    {
      "parameters": {
        "jsCode": "// --- CONFIGURAÇÃO ---\nconst fusoHorario = 'Europe/Lisbon'; \n// --------------------\n\nreturn $input.all().map(item => {\n  const json = item.json;\n  \n  // 1. Extrair Conteúdos\n  let corpoHtml = json.html || json.text || \"<h1>Email sem conteudo HTML</h1>\";\n  const corpoTexto = json.text || json.snippet || \"\";\n  const assuntoOriginal = json.subject || \"\";\n\n  // 2. Limpeza de Headers (Lógica Simplificada)\n  const regexLimpezaTotal = /(-+|_+)\\s*(Forwarded message|Mensagem encaminhada|Início da mensagem reencaminhada).*?(\\r\\n|\\n|<br>)(?:(?:From|De|Date|Data|Subject|Assunto|To|Para|Sent|Enviada|Cc|Bcc):.*?(\\r\\n|\\n|<br>))*/gim;\n  corpoHtml = corpoHtml.replace(regexLimpezaTotal, \"\").replace(/^\\s*(<br>\\s*)+/i, \"\");\n\n  // 3. Lógica de Assunto e Datas (Mantida igual)\n  const regexPrefixos = /^([\\[\\(]?(Fwd|FW|Enc|Tr|Reenc|Re)[\\]\\)]?:\\s*)+/i;\n  const assuntoLimpo = assuntoOriginal.replace(regexPrefixos, \"\").trim();\n\n  return {\n    json: {\n      assunto: assuntoLimpo,\n      corpoTexto: corpoTexto, // <--- NOVA LINHA IMPORTANTE (Para a IA ler)\n      from: json.from,\n      resumo: json.snippet\n    },\n    binary: {\n      ...item.binary,\n      index_html: {\n        data: Buffer.from(corpoHtml).toString('base64'),\n        mimeType: 'text/html',\n        fileName: 'index.html'\n      }\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        352
      ],
      "id": "d19d4dc6-9306-4f12-bc81-4b959759b502",
      "name": "Cleanup Mail1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        592,
        352
      ],
      "id": "0dc8cdea-e31f-4f78-ab3f-9040de7d13ce",
      "name": "Merge2"
    },
    {
      "parameters": {
        "url": "=https://graph.microsoft.com/v1.0/me/drive/root:/AL-P:/children?$filter=startswith(name,'{{ $json.id_projeto }}')",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOneDriveOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        960,
        352
      ],
      "id": "95f0c8f7-0272-463e-a2e6-f78b27746494",
      "name": "HTTP Request",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "1Waf1fVLUg7lO3Mh",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Obter o resultado da pesquisa do OneDrive\nconst resultadoPesquisa = items[0].json.value;\n\nif (!resultadoPesquisa || resultadoPesquisa.length === 0) {\n  throw new Error(\"ERRO: Projeto não encontrado (Lista vazia).\");\n}\n\n// 2. Apanhar a pasta real (ex: \"357-Portas da Madeira\")\nconst pastaProjeto = resultadoPesquisa[0];\n\n// 3. Recuperar os dados originais do \"Rename pdf1\"\nconst dadosOriginais = $('Rename pdf1').first().json;\n\n// 4. SAÍDA SIMPLES: Apenas o ID e os dados originais\nreturn {\n  json: {\n    id_pasta_projeto: pastaProjeto.id,    // O ID que precisamos para o próximo passo\n    nome_real_projeto: pastaProjeto.name, // Só para confirmar\n    \n    // Passamos os dados da IA para o próximo nó usar\n    entidade_ia: dadosOriginais.entidade,\n    sentido: dadosOriginais.sentido,\n    data_pasta: dadosOriginais.data_pasta // (Se já tiveres calculado a data antes)\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        352
      ],
      "id": "8197b1c2-9490-4f8b-975c-639550af94a1",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "=https://graph.microsoft.com/v1.0/me/drive/items/{{ $json.id_pasta_projeto }}:/Entidades:/children",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOneDriveOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1360,
        352
      ],
      "id": "d66b47bd-d9c0-4dc7-8679-5d2420a775c6",
      "name": "HTTP Request2",
      "alwaysOutputData": true,
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "1Waf1fVLUg7lO3Mh",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// --- FUNÇÕES DE COMPARAÇÃO (Fuzzy Match) ---\nfunction similarity(s1, s2) {\n  var longer = s1, shorter = s2;\n  if (s1.length < s2.length) { longer = s2; shorter = s1; }\n  var longerLength = longer.length;\n  if (longerLength == 0) return 1.0;\n  return (longerLength - editDistance(longer, shorter)) / parseFloat(longerLength);\n}\n\nfunction editDistance(s1, s2) {\n  s1 = s1.toLowerCase(); s2 = s2.toLowerCase();\n  var costs = new Array();\n  for (var i = 0; i <= s1.length; i++) {\n    var lastValue = i;\n    for (var j = 0; j <= s2.length; j++) {\n      if (i == 0) costs[j] = j;\n      else {\n        if (j > 0) {\n          var newValue = costs[j - 1];\n          if (s1.charAt(i - 1) != s2.charAt(j - 1)) newValue = Math.min(Math.min(newValue, lastValue), costs[j]) + 1;\n          costs[j - 1] = lastValue;\n          lastValue = newValue;\n        }\n      }\n    }\n    if (i > 0) costs[s2.length] = lastValue;\n  }\n  return costs[s2.length];\n}\n\n// --- LÓGICA PRINCIPAL ---\nconst pastasReais = items[0].json.value || [];\n\n// 1. Resgatar dados e BINÁRIOS do nó Rename\n// ATENÇÃO: Confirma se o nó anterior se chama mesmo 'Rename pdf1'\nconst dadosRename = $('Rename pdf1').first().json;\nconst binariosRename = $('Rename pdf1').first().binary; \n\nconst entidadeIA = (dadosRename.entidade || \"Desconhecido\").trim();\n\n// 2. Encontrar a pasta e o ID correspondente\nlet melhorMatch = null;\nlet maiorScore = 0;\n\nfor (const pasta of pastasReais) {\n  const score = similarity(entidadeIA, pasta.name);\n  if (score > maiorScore) {\n    maiorScore = score;\n    melhorMatch = pasta;\n  }\n}\n\n// 3. Validação\nif (!melhorMatch || maiorScore < 0.75) {\n  // Se não encontrar a pasta (ex: cliente novo), o upload por ID falharia.\n  // Aqui podes decidir se queres criar a pasta ou dar erro.\n  // Para já, vamos assumir que existe, como disseste.\n  throw new Error(`Pasta da entidade '${entidadeIA}' não encontrada (Score: ${maiorScore}).`);\n}\n\n// 4. Output Final\nreturn {\n  json: {\n    // Aqui está o segredo: passamos o ID da pasta da entidade diretamente!\n    id_pasta_destino: melhorMatch.id, \n    entidade_nome: melhorMatch.name,\n    nome_ficheiro: dadosRename.nome_base\n  },\n  // Passamos o PDF para o nó de Upload não reclamar\n  binary: binariosRename \n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        352
      ],
      "id": "8dbc675e-a2b0-495f-a845-c8c20cd5cfb0",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "// 1. Ir buscar os dados globais (Sentido e Data) ao nó Rename\nconst dadosOriginais = $('Rename pdf1').first().json;\nconst sentido = dadosOriginais.sentido || \"REC\";\n\n// 2. Calcular a Data de Hoje (YYYYMMDD)\n// (\"Data ao contrário\" para ordenar bem nas pastas)\nconst hoje = new Date();\nconst yyyy = hoje.getFullYear();\nconst mm = String(hoje.getMonth() + 1).padStart(2, '0');\nconst dd = String(hoje.getDate()).padStart(2, '0');\nconst prefixoData = `${yyyy}${mm}${dd}`; // Ex: 20251228\n\nconst ficheirosSeparados = [];\n\n// 3. Processar cada ficheiro\nfor (const item of items) {\n  if (item.binary) {\n    for (const key in item.binary) {\n      const arquivo = item.binary[key];\n      \n      // Guardar o nome original para não perder a extensão (.pdf, .jpg)\n      const nomeOriginal = arquivo.fileName; \n      \n      // CONSTRUIR O NOVO NOME FINAL\n      // Ex: 20251228_ENV_Portas_Madera.pdf\n      const novoNome = `${prefixoData}_${sentido}_${nomeOriginal}`;\n      \n      // Atualizar a propriedade fileName do próprio binário\n      // O nó do OneDrive vai ler isto automaticamente!\n      arquivo.fileName = novoNome;\n\n      ficheirosSeparados.push({\n        json: {\n          ...item.json,\n          // Apenas para confirmares visualmente no n8n que mudou\n          nome_final_gerado: novoNome\n        },\n        binary: {\n          data: arquivo\n        }\n      });\n    }\n  }\n}\n\nreturn ficheirosSeparados;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1776,
        352
      ],
      "id": "bf098290-813f-4524-9e44-18d40b7c8f88",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=### ROLE ###\nYou are a high-precision DATA EXTRACTION API. Your only job is to extract two specific fields from an email and return a valid JSON object. \n\n### RULES ###\n1. id_projeto: Look for exactly 3 consecutive digits (e.g., 357). Priority 1: The Subject line. Priority 2: The first two lines of the Body. If not found, use \"000\".\n2. entidade: Identify the external company or person. Priority 1: Look for \"entidade: [NOME]\". Priority 2: Look for the company name in the signature or \"De:\". If not found, use \"Desconhecido\".\n\n### OUTPUT CONSTRAINTS ###\n- NO prose. NO explanations. NO conversational filler.\n- NO Markdown formatting (do NOT use ```json).\n- ALWAYS use double quotes for both keys and values.\n- RETURN ONLY this structure: {\"id_projeto\": \"string\", \"entidade\": \"string\"}\n\n### EXAMPLES ###\nInput:\nSubject: \"357 - Invoice\"\nBody: \"Hi, please see attached. Regards, Vodafone Team.\"\nOutput:\n{\"id_projeto\": \"357\", \"entidade\": \"Vodafone\"}\n\nInput:\nSubject: \"Re: Meeting\"\nBody: \"321 - Let's discuss the Porto project. Best, Maria (Sonae).\"\nOutput:\n{\"id_projeto\": \"321\", \"entidade\": \"Sonae\"}\n\n### DATA TO PROCESS ###\nSubject: \"\"\"{{ $json.assunto }}\"\"\"\nBody: \"\"\"{{ $json.corpoTexto }}\"\"\"\nSender: \"\"\"{{ $json.from.text }}\"\"\"\n\n### FINAL JSON OUTPUT:",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        224,
        400
      ],
      "id": "6cfad6d2-f4a5-41c8-ada7-024583d33536",
      "name": "ID projeto e entidade"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=### ROLE\nYou are a cold, emotionless Data Extraction Engine. You do not explain. You do not write code. You only output valid JSON arrays.\n\n### TASK\nAnalyze a forwarded email to determine the archiving direction (env_rec).\n\n### INPUT DATA\n- Forwarder Email: {{ $json.from.value[0].address }}\n- Email Body: {{ $json.corpoTexto }}\n\n### STRICT LOGIC\n1. Search the \"Email Body\" for the most recent \"Forwarded message\" header.\n2. Identify the address following \"De:\" or \"From:\" within that header (the Original Sender). Make sure not to choose an adress following \"To:\" or \"Para:\".\nCOMPARE the \"Forwarder Email\" with the \"Original Sender\" :\n   - IF (Forwarder Email == Original Sender) -> Output: \"env\"\n   - IF (Forwarder Email != Original Sender) -> Output: \"rec\"\n\n### OUTPUT RULE\n- Output ONLY the JSON array. \n- NO Markdown code blocks (no ```).\n- NO conversational text.\n- NO Python scripts.\n\n### REFERENCE EXAMPLES\nInput: \n- Forwarder: user@test.com\n- Body: \"...Forwarded message... From: user@test.com...\"\nOutput: [{\"env_rec\": \"env\"}]\n\nInput:\n- Forwarder: client@work.com\n- Body: \"...Forwarded message... De: stranger@other.com...\"\nOutput: [{\"env_rec\": \"rec\"}]\n\n### FINAL INSTRUCTION\nProcess the provided INPUT DATA now and return only the JSON.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        192,
        896
      ],
      "id": "34406ea0-40a5-4e64-9b84-6675f1b3a381",
      "name": "Env/Rec"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        128,
        1104
      ],
      "id": "d33a6288-e1fe-49b0-afd8-8db412d27ef5",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "rIi2NnYqqBrCxyVL",
          "name": "Ollama account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Get a message1": {
      "main": [
        [
          {
            "node": "Cleanup Mail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger1": {
      "main": [
        [
          {
            "node": "Get a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "ID projeto e entidade",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Rename pdf1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup Mail1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Env/Rec",
            "type": "main",
            "index": 0
          },
          {
            "node": "ID projeto e entidade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Rename pdf1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Mail in pdf upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ID projeto e entidade": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Env/Rec": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Env/Rec",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "fab66aa1-76f7-4dbf-89f4-15a24fa184b3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f52df6f7e8d33c9bba620dff08be36a67b7d4d89cc385cb4945c4e1f60114e51"
  },
  "id": "7Cc3waFqG9TraQvA",
  "tags": []
}