workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}",
        "simple": false,
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -960,
        128
      ],
      "id": "f6290bd3-60d5-479b-93aa-e06594e179e1",
      "name": "Get a message",
      "webhookId": "ecfa5eba-bf34-414a-a951-12fde0edc8bb",
      "credentials": {
        "gmailOAuth2": {
          "id": "FC5kyowFTG3kZR93",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -1168,
        128
      ],
      "id": "629f66ef-9a9d-4367-ae54-84803efb02f3",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "FC5kyowFTG3kZR93",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gotenberg:3000/forms/chromium/convert/html",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "index_html"
            },
            {
              "name": "printBackground",
              "value": "true"
            },
            {
              "name": "paperWidth",
              "value": "8.27"
            },
            {
              "name": "paperHeight",
              "value": "11.7"
            },
            {
              "name": "marginTop",
              "value": "0"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -496,
        32
      ],
      "id": "ed5f7f47-aaf2-426b-90be-152ede393f65",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fileName": "={{ $json.assunto.replace(/[^a-zA-Z0-9 -]/g, \"\").trim() }}.pdf",
        "parentId": "1FAB6A960A80F2BE!sc0cb8d95d2b34621bf6ee52722d15de9",
        "binaryData": true
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        288,
        128
      ],
      "id": "fa211e60-cc31-42ef-a09b-15268951d7a8",
      "name": "Upload a file2",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "OCn8KX6udEiVHb1s",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=### INSTRUÇÃO ###\nAnalise o email abaixo e extraia um nome de ficheiro curto (Max 3 palavras).\nA sua resposta será usada diretamente por um script, por isso NÃO pode conter texto extra.\n\n### REGRAS RIGOROSAS (DO NOT BREAK) ###\n1. NÃO diga \"Olá\". NÃO explique o que fez. NÃO use frases.\n2. Responda APENAS com as palavras chave separadas por underscores (_).\n3. Se for fatura, comece por \"Fatura\".\n4. NÃO use aspas, nem extensões (.pdf).\n\n### EXEMPLOS (Siga este formato) ###\nInput: \"Segue em anexo a conta da luz da EDP referente a Janeiro.\"\nOutput: Fatura_EDP_Janeiro\n\nInput: \"Relatório de contas da reunião de ontem.\"\nOutput: Relatorio_Reuniao_Contas\n\nInput: \"Foto do jantar de natal.\"\nOutput: Foto_Jantar_Natal\n\n### EMAIL A PROCESSAR ###\n{{ $json.corpoTexto }}\n\n### SEU OUTPUT (Apenas o nome):",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -544,
        240
      ],
      "id": "cce4bb95-1951-4430-b9b7-3dcead6c4668",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "=llama3.2",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -544,
        496
      ],
      "id": "ef8be98e-c4ed-4cd1-92f7-db5b56c6965c",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "CJeeOnNIPmZJlDBs",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  // 1. O nome vem do caminho da IA (que foi merged aqui)\n  // Normalmente está em 'text' ou 'response'\n  let nomeIA = item.json.text || item.json.response || \"Documento_Scan\";\n  \n  // 2. Limpeza Rápida (Tirar aspas e lixo que a IA possa ter deixado)\n  // Remove \"Output:\", aspas e extensões\n  let nomeLimpo = nomeIA.toString()\n    .replace(/Output:?|Nome:?/gi, \"\")\n    .replace(/['\"]/g, \"\")\n    .replace(/\\.pdf$/i, \"\")\n    .trim();\n\n  // Garante que só tem letras, números e underscores\n  nomeLimpo = nomeLimpo\n    .replace(/[^a-zA-Z0-9_ -]/g, \"\")\n    .replace(/\\s+/g, \"_\");\n\n  // Se a IA falhou e o nome ficou vazio, dá um nome de emergência\n  if (nomeLimpo.length < 2) nomeLimpo = \"Documento_\" + Date.now();\n\n  // 3. Aplica o nome ao ficheiro PDF (que veio do Gotenberg via Merge)\n  if (item.binary && item.binary.data) {\n    item.binary.data.fileName = `${nomeLimpo}.pdf`;\n  }\n  \n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        128
      ],
      "id": "c1cb3e0f-b420-414c-b63b-92ef1654b424",
      "name": "Rename pdf"
    },
    {
      "parameters": {
        "jsCode": "const results = [];\nconst items = $input.all();\n\nfor (const item of items) {\n  // Se não houver ficheiros binários, passa à frente\n  if (!item.binary) continue;\n\n  const binaries = item.binary;\n\n  // Percorre todos os ficheiros (attachment_0, attachment_1, index_html...)\n  for (const key in binaries) {\n    \n    // ⚠️ O TRUQUE: Ignoramos o 'index_html' (que é para o PDF)\n    // e processamos apenas os outros (os anexos originais)\n    if (key !== 'index_html') {\n       \n       results.push({\n         json: {\n           // Guardamos info útil\n           assunto_pai: item.json.assunto,\n           nome_original: binaries[key].fileName\n         },\n         binary: {\n           // Colocamos o ficheiro na gaveta 'data' (padrão do n8n)\n           data: binaries[key]\n         }\n       });\n    }\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -576,
        -224
      ],
      "id": "c2bb5aa9-5d5c-4f8e-a5b6-6e6f6bc03c01",
      "name": "Separate files"
    },
    {
      "parameters": {
        "jsCode": "// --- CONFIGURAÇÃO ---\nconst fusoHorario = 'Europe/Lisbon'; \n// --------------------\n\nreturn $input.all().map(item => {\n  const json = item.json;\n  \n  // 1. Extrair Conteúdos\n  let corpoHtml = json.html || json.text || \"<h1>Email sem conteudo HTML</h1>\";\n  const corpoTexto = json.text || json.snippet || \"\";\n  const assuntoOriginal = json.subject || \"\";\n\n  // 2. Limpeza de Headers (Lógica Simplificada)\n  const regexLimpezaTotal = /(-+|_+)\\s*(Forwarded message|Mensagem encaminhada|Início da mensagem reencaminhada).*?(\\r\\n|\\n|<br>)(?:(?:From|De|Date|Data|Subject|Assunto|To|Para|Sent|Enviada|Cc|Bcc):.*?(\\r\\n|\\n|<br>))*/gim;\n  corpoHtml = corpoHtml.replace(regexLimpezaTotal, \"\").replace(/^\\s*(<br>\\s*)+/i, \"\");\n\n  // 3. Lógica de Assunto e Datas (Mantida igual)\n  const regexPrefixos = /^([\\[\\(]?(Fwd|FW|Enc|Tr|Reenc|Re)[\\]\\)]?:\\s*)+/i;\n  const assuntoLimpo = assuntoOriginal.replace(regexPrefixos, \"\").trim();\n\n  return {\n    json: {\n      assunto: assuntoLimpo,\n      corpoTexto: corpoTexto, // <--- NOVA LINHA IMPORTANTE (Para a IA ler)\n      resumo: json.snippet\n    },\n    binary: {\n      ...item.binary,\n      index_html: {\n        data: Buffer.from(corpoHtml).toString('base64'),\n        mimeType: 'text/html',\n        fileName: 'index.html'\n      }\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -752,
        128
      ],
      "id": "ed17dff7-ee7b-43ce-8d61-48a0d9c8ccf5",
      "name": "Cleanup Mail"
    },
    {
      "parameters": {
        "parentId": "1FAB6A960A80F2BE!sc0cb8d95d2b34621bf6ee52722d15de9",
        "binaryData": true
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        -288,
        -224
      ],
      "id": "99389a59-07b1-4262-9bd3-4ea65fb86fec",
      "name": "Attachment upload",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "OCn8KX6udEiVHb1s",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -192,
        128
      ],
      "id": "8f834777-cbd3-44c5-b799-2dc093b63168",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "Get a message": {
      "main": [
        [
          {
            "node": "Cleanup Mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Upload a file2": {
      "main": [
        []
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Rename pdf": {
      "main": [
        [
          {
            "node": "Upload a file2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separate files": {
      "main": [
        [
          {
            "node": "Attachment upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup Mail": {
      "main": [
        [
          {
            "node": "Separate files",
            "type": "main",
            "index": 0
          },
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attachment upload": {
      "main": [
        []
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Rename pdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c6a50fb5-2dab-47a0-a754-21e6ac19aa08",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0378f0bdc04d6b7ce2df14be31fa9afd5dc212f5d56c0fd118fa466377602611"
  },
  "id": "FNXzcAYlNS8WECip",
  "tags": []
}