workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "fileName": "=",
        "parentId": "={{ $json.id_pasta_destino }}",
        "binaryData": true,
        "binaryPropertyName": "=data"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        1904,
        48
      ],
      "id": "b1e531aa-3a3a-40af-b299-6786d8807a0a",
      "name": "Mail in pdf upload",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "V4Xw6f3Qvzpfww4l",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}",
        "simple": false,
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -336,
        48
      ],
      "id": "7d0cec02-fb6d-4c5b-bf71-ea413c8468a0",
      "name": "Get a message1",
      "webhookId": "ecfa5eba-bf34-414a-a951-12fde0edc8bb",
      "credentials": {
        "gmailOAuth2": {
          "id": "RGdS9ujz73kK5ds6",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -576,
        48
      ],
      "id": "be440b19-db2c-43ac-b81b-838247e9a881",
      "name": "Gmail Trigger1",
      "credentials": {
        "gmailOAuth2": {
          "id": "RGdS9ujz73kK5ds6",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gotenberg:3000/forms/chromium/convert/html",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "index_html"
            },
            {
              "name": "printBackground",
              "value": "true"
            },
            {
              "name": "paperWidth",
              "value": "8.27"
            },
            {
              "name": "paperHeight",
              "value": "11.7"
            },
            {
              "name": "marginTop",
              "value": "0"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        -96
      ],
      "id": "dce1b3fc-03e8-4039-8e16-1331b167d101",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=### SYSTEM INSTRUCTION ###\nVocê é um PARSER DE DADOS (API). A sua única função é receber texto não estruturado e devolver um Objeto JSON válido.\nNÃO fale. NÃO explique. NÃO use Markdown (sem ```json). NÃO inclua introduções ou conclusões.\nSe falhar a extração de algum campo, use valores genéricos (\"000\", \"Desconhecido\").\n\n### REGRAS DE EXTRAÇÃO ###\n1. id_projeto: Procure no ASSUNTO por 3 dígitos no início (ex: \"102 - Obra\"). Se não houver, devolva \"000\".\n2. nome_projeto: O texto a seguir aos dígitos no ASSUNTO. Limpe hífens.\n3. entidade: Quem enviou o email ou a empresa mencionada no corpo/assinatura.\n4. resumo_3_palavras: Um resumo muito curto do conteúdo (ex: Fatura_Material_Eletrico). Use underscores, sem espaços.\n\n### EXEMPLOS DE TREINO (Few-Shot) ###\nInput:\nAssunto: \"102 - Remodelação Lisboa\"\nCorpo: \"Bom dia, segue o orçamento da Tintas Robbialac. Att, João.\"\nDe: \"joao@robbialac.pt\"\nOutput:\n{ \"id_projeto\": \"102\", \"nome_projeto\": \"Remodelacao Lisboa\", \"entidade\": \"Tintas Robbialac\", \"resumo_3_palavras\": \"Orcamento_Tintas\" }\n\nInput:\nAssunto: \"Urgente - Fuga de Água\"\nCorpo: \"Detetámos uma fuga na cave.\"\nDe: \"cliente@gmail.com\"\nOutput:\n{ \"id_projeto\": \"000\", \"nome_projeto\": \"Urgente Fuga\", \"entidade\": \"Cliente\", \"resumo_3_palavras\": \"Alerta_Fuga_Agua\" }\n\n### DADOS PARA PROCESSAR AGORA ###\nAssunto: \"\"\"{{ $json.assunto }}\"\"\"\nCorpo: \"\"\"{{ $json.corpoTexto }}\"\"\"\nDe: \"\"\"{{ $json.from }}\"\"\"\n\n### SEU OUTPUT JSON:",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        128,
        208
      ],
      "id": "0cb083d5-cbf7-4da1-8491-6936323e8044",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "model": "=llama3.2",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        144,
        416
      ],
      "id": "60f79e83-2a04-49eb-b53d-65b55cebd375",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "JHLjlCeNs3UuWZoW",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// --- CONFIGURAÇÃO ---\nconst MEU_EMAIL = \"da.33.ne@gmail.com\"; \n// --------------------\n\nreturn $input.all().map(item => {\n  // 1. Tentar ler o JSON da IA\n  let dadosIA = {};\n  try {\n    const textoLimpo = (item.json.text || \"{}\").replace(/```json|```/g, \"\").trim();\n    dadosIA = JSON.parse(textoLimpo);\n  } catch (e) {\n    dadosIA = { id_projeto: \"000\", nome_projeto: \"Geral\", entidade: \"Desconhecido\", resumo_3_palavras: \"Documento\" };\n  }\n\n  // 2. Lógica REC/ENV (Correção Profunda para Estrutura do Gmail)\n  let rawFrom = item.json.from;\n  let enderecoEmail = \"\";\n\n  // O Gmail manda algo como: { value: [ { address: \"email@...\" } ] }\n  if (rawFrom && typeof rawFrom === 'object') {\n    if (Array.isArray(rawFrom.value) && rawFrom.value.length > 0) {\n      enderecoEmail = rawFrom.value[0].address; // Onde o email vive de verdade\n    } else if (rawFrom.address) {\n      enderecoEmail = rawFrom.address;\n    } else if (rawFrom.email) {\n      enderecoEmail = rawFrom.email;\n    } else {\n      enderecoEmail = \"desconhecido\";\n    }\n  } else {\n    enderecoEmail = String(rawFrom || \"\");\n  }\n\n  const remetente = enderecoEmail.toLowerCase();\n  const sentido = remetente.includes(MEU_EMAIL.toLowerCase()) ? \"ENV\" : \"REC\";\n\n  // 3. Data Invertida\n  const hoje = new Date();\n  const yyyy = hoje.getFullYear();\n  const mm = String(hoje.getMonth() + 1).padStart(2, '0');\n  const dd = String(hoje.getDate()).padStart(2, '0');\n  const dataPasta = `${yyyy}${mm}${dd}`;\n\n  // 4. Caminhos e Limpeza\n  const limpar = (txt) => (txt || \"Desconhecido\").replace(/[\\/\\\\:*?\"<>|]/g, \"\").trim();\n  const nomePastaFinal = `${dataPasta}_${sentido}`;\n  \n  // Caminho exato para o OneDrive\n  const caminhoVirtual = `AL-P/${limpar(dadosIA.id_projeto)}-${limpar(dadosIA.nome_projeto)}/Entidades/${limpar(dadosIA.entidade)}/${nomePastaFinal}`;\n\n  const nomeBase = (dadosIA.resumo_3_palavras || \"Doc\")\n    .replace(/[^a-zA-Z0-9_ -]/g, \"\")\n    .replace(/\\s+/g, \"_\");\n\n  // 5. Processar Binários\n  const novosBinarios = {};\n  if (item.binary) {\n    let contadorAnexos = 1;\n\n    // PDF Principal\n    if (item.binary.index_html) {\n      novosBinarios.data = item.binary.index_html;\n      novosBinarios.data.fileName = `${nomeBase}.pdf`;\n    } else if (item.binary.data) {\n       novosBinarios.data = item.binary.data;\n       novosBinarios.data.fileName = `${nomeBase}.pdf`;\n    }\n\n    // Anexos Extra\n    for (const key in item.binary) {\n      if (key !== 'index_html' && key !== 'data') {\n        const ficheiroOriginal = item.binary[key];\n        const extensao = ficheiroOriginal.fileName ? ficheiroOriginal.fileName.split('.').pop() : 'bin';\n        const nomeAnexo = `${nomeBase}_anexo_${contadorAnexos}.${extensao}`;\n        \n        novosBinarios[`anexo_${contadorAnexos}`] = {\n          ...ficheiroOriginal,\n          fileName: nomeAnexo\n        };\n        contadorAnexos++;\n      }\n    }\n  }\n\n  // RETORNO LIMPO (Sem lixo do email original)\n  return {\n    json: {\n      status: \"Processado com Sucesso\",\n      caminho_final: caminhoVirtual,\n      nome_base: nomeBase,\n      \n      // Metadados úteis\n      id_projeto: dadosIA.id_projeto,\n      nome_projeto: dadosIA.nome_projeto,\n      entidade: dadosIA.entidade,\n      sentido: sentido,\n      \n      // Debug (Para confirmares que funcionou)\n      debug_email_lido: enderecoEmail \n    },\n    binary: novosBinarios\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        48
      ],
      "id": "f0e0970b-54b0-4775-9b30-81d252afc7bf",
      "name": "Rename pdf1"
    },
    {
      "parameters": {
        "jsCode": "const results = [];\nconst items = $input.all();\n\nfor (const item of items) {\n  // Se não houver ficheiros binários, passa à frente\n  if (!item.binary) continue;\n\n  const binaries = item.binary;\n\n  // Percorre todos os ficheiros (attachment_0, attachment_1, index_html...)\n  for (const key in binaries) {\n    \n    // ⚠️ O TRUQUE: Ignoramos o 'index_html' (que é para o PDF)\n    // e processamos apenas os outros (os anexos originais)\n    if (key !== 'index_html') {\n       \n       results.push({\n         json: {\n           // Guardamos info útil\n           folder_id: item.json.parentReference.id,\n           nome_original: binaries[key].fileName\n         },\n         binary: {\n           // Colocamos o ficheiro na gaveta 'data' (padrão do n8n)\n           data: binaries[key]\n         }\n       });\n    }\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        -304
      ],
      "id": "63d5c13b-db7d-40e7-9804-81912775603c",
      "name": "Separate files1",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// --- CONFIGURAÇÃO ---\nconst fusoHorario = 'Europe/Lisbon'; \n// --------------------\n\nreturn $input.all().map(item => {\n  const json = item.json;\n  \n  // 1. Extrair Conteúdos\n  let corpoHtml = json.html || json.text || \"<h1>Email sem conteudo HTML</h1>\";\n  const corpoTexto = json.text || json.snippet || \"\";\n  const assuntoOriginal = json.subject || \"\";\n\n  // 2. Limpeza de Headers (Lógica Simplificada)\n  const regexLimpezaTotal = /(-+|_+)\\s*(Forwarded message|Mensagem encaminhada|Início da mensagem reencaminhada).*?(\\r\\n|\\n|<br>)(?:(?:From|De|Date|Data|Subject|Assunto|To|Para|Sent|Enviada|Cc|Bcc):.*?(\\r\\n|\\n|<br>))*/gim;\n  corpoHtml = corpoHtml.replace(regexLimpezaTotal, \"\").replace(/^\\s*(<br>\\s*)+/i, \"\");\n\n  // 3. Lógica de Assunto e Datas (Mantida igual)\n  const regexPrefixos = /^([\\[\\(]?(Fwd|FW|Enc|Tr|Reenc|Re)[\\]\\)]?:\\s*)+/i;\n  const assuntoLimpo = assuntoOriginal.replace(regexPrefixos, \"\").trim();\n\n  return {\n    json: {\n      assunto: assuntoLimpo,\n      corpoTexto: corpoTexto, // <--- NOVA LINHA IMPORTANTE (Para a IA ler)\n      from: json.from,\n      resumo: json.snippet\n    },\n    binary: {\n      ...item.binary,\n      index_html: {\n        data: Buffer.from(corpoHtml).toString('base64'),\n        mimeType: 'text/html',\n        fileName: 'index.html'\n      }\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        48
      ],
      "id": "b309b5cf-08c7-42e2-902a-53c44935618d",
      "name": "Cleanup Mail1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        496,
        48
      ],
      "id": "92db189f-1a84-4c16-b9cc-3955c8983aae",
      "name": "Merge2"
    },
    {
      "parameters": {
        "url": "=https://graph.microsoft.com/v1.0/me/drive/root:/AL-P:/children?$filter=startswith(name,'{{ $json.id_projeto }}')",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOneDriveOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        864,
        48
      ],
      "id": "120bb605-b6df-4c6b-97ad-04b1b640de76",
      "name": "HTTP Request",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "V4Xw6f3Qvzpfww4l",
          "name": "Microsoft Drive account"
        },
        "oAuth2Api": {
          "id": "A1nW5HGiqqsBIZjY",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Obter o resultado da pesquisa do OneDrive\nconst resultadoPesquisa = items[0].json.value;\n\nif (!resultadoPesquisa || resultadoPesquisa.length === 0) {\n  throw new Error(\"ERRO: Projeto não encontrado (Lista vazia).\");\n}\n\n// 2. Apanhar a pasta real (ex: \"357-Portas da Madeira\")\nconst pastaProjeto = resultadoPesquisa[0];\n\n// 3. Recuperar os dados originais do \"Rename pdf1\"\nconst dadosOriginais = $('Rename pdf1').first().json;\n\n// 4. SAÍDA SIMPLES: Apenas o ID e os dados originais\nreturn {\n  json: {\n    id_pasta_projeto: pastaProjeto.id,    // O ID que precisamos para o próximo passo\n    nome_real_projeto: pastaProjeto.name, // Só para confirmar\n    \n    // Passamos os dados da IA para o próximo nó usar\n    entidade_ia: dadosOriginais.entidade,\n    sentido: dadosOriginais.sentido,\n    data_pasta: dadosOriginais.data_pasta // (Se já tiveres calculado a data antes)\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        48
      ],
      "id": "f0e4d845-603c-445f-a027-a1377f33e15d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "=https://graph.microsoft.com/v1.0/me/drive/items/{{ $json.id_pasta_projeto }}:/Entidades:/children",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOneDriveOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1264,
        48
      ],
      "id": "ff56f662-af3f-40da-89a6-a694a37371d7",
      "name": "HTTP Request2",
      "alwaysOutputData": true,
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "V4Xw6f3Qvzpfww4l",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// --- FUNÇÕES DE COMPARAÇÃO (Fuzzy Match) ---\nfunction similarity(s1, s2) {\n  var longer = s1, shorter = s2;\n  if (s1.length < s2.length) { longer = s2; shorter = s1; }\n  var longerLength = longer.length;\n  if (longerLength == 0) return 1.0;\n  return (longerLength - editDistance(longer, shorter)) / parseFloat(longerLength);\n}\n\nfunction editDistance(s1, s2) {\n  s1 = s1.toLowerCase(); s2 = s2.toLowerCase();\n  var costs = new Array();\n  for (var i = 0; i <= s1.length; i++) {\n    var lastValue = i;\n    for (var j = 0; j <= s2.length; j++) {\n      if (i == 0) costs[j] = j;\n      else {\n        if (j > 0) {\n          var newValue = costs[j - 1];\n          if (s1.charAt(i - 1) != s2.charAt(j - 1)) newValue = Math.min(Math.min(newValue, lastValue), costs[j]) + 1;\n          costs[j - 1] = lastValue;\n          lastValue = newValue;\n        }\n      }\n    }\n    if (i > 0) costs[s2.length] = lastValue;\n  }\n  return costs[s2.length];\n}\n\n// --- LÓGICA PRINCIPAL ---\nconst pastasReais = items[0].json.value || [];\n\n// 1. Resgatar dados e BINÁRIOS do nó Rename\n// ATENÇÃO: Confirma se o nó anterior se chama mesmo 'Rename pdf1'\nconst dadosRename = $('Rename pdf1').first().json;\nconst binariosRename = $('Rename pdf1').first().binary; \n\nconst entidadeIA = (dadosRename.entidade || \"Desconhecido\").trim();\n\n// 2. Encontrar a pasta e o ID correspondente\nlet melhorMatch = null;\nlet maiorScore = 0;\n\nfor (const pasta of pastasReais) {\n  const score = similarity(entidadeIA, pasta.name);\n  if (score > maiorScore) {\n    maiorScore = score;\n    melhorMatch = pasta;\n  }\n}\n\n// 3. Validação\nif (!melhorMatch || maiorScore < 0.75) {\n  // Se não encontrar a pasta (ex: cliente novo), o upload por ID falharia.\n  // Aqui podes decidir se queres criar a pasta ou dar erro.\n  // Para já, vamos assumir que existe, como disseste.\n  throw new Error(`Pasta da entidade '${entidadeIA}' não encontrada (Score: ${maiorScore}).`);\n}\n\n// 4. Output Final\nreturn {\n  json: {\n    // Aqui está o segredo: passamos o ID da pasta da entidade diretamente!\n    id_pasta_destino: melhorMatch.id, \n    entidade_nome: melhorMatch.name,\n    nome_ficheiro: dadosRename.nome_base\n  },\n  // Passamos o PDF para o nó de Upload não reclamar\n  binary: binariosRename \n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        48
      ],
      "id": "ed12e32c-b1ba-4711-92a6-52d71ba68bc2",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "// 1. Ir buscar os dados globais (Sentido e Data) ao nó Rename\nconst dadosOriginais = $('Rename pdf1').first().json;\nconst sentido = dadosOriginais.sentido || \"REC\";\n\n// 2. Calcular a Data de Hoje (YYYYMMDD)\n// (\"Data ao contrário\" para ordenar bem nas pastas)\nconst hoje = new Date();\nconst yyyy = hoje.getFullYear();\nconst mm = String(hoje.getMonth() + 1).padStart(2, '0');\nconst dd = String(hoje.getDate()).padStart(2, '0');\nconst prefixoData = `${yyyy}${mm}${dd}`; // Ex: 20251228\n\nconst ficheirosSeparados = [];\n\n// 3. Processar cada ficheiro\nfor (const item of items) {\n  if (item.binary) {\n    for (const key in item.binary) {\n      const arquivo = item.binary[key];\n      \n      // Guardar o nome original para não perder a extensão (.pdf, .jpg)\n      const nomeOriginal = arquivo.fileName; \n      \n      // CONSTRUIR O NOVO NOME FINAL\n      // Ex: 20251228_ENV_Portas_Madera.pdf\n      const novoNome = `${prefixoData}_${sentido}_${nomeOriginal}`;\n      \n      // Atualizar a propriedade fileName do próprio binário\n      // O nó do OneDrive vai ler isto automaticamente!\n      arquivo.fileName = novoNome;\n\n      ficheirosSeparados.push({\n        json: {\n          ...item.json,\n          // Apenas para confirmares visualmente no n8n que mudou\n          nome_final_gerado: novoNome\n        },\n        binary: {\n          data: arquivo\n        }\n      });\n    }\n  }\n}\n\nreturn ficheirosSeparados;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        48
      ],
      "id": "598d12a0-be22-48aa-baea-dacf50656075",
      "name": "Code in JavaScript2"
    }
  ],
  "pinData": {},
  "connections": {
    "Get a message1": {
      "main": [
        [
          {
            "node": "Cleanup Mail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger1": {
      "main": [
        [
          {
            "node": "Get a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Rename pdf1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separate files1": {
      "main": [
        []
      ]
    },
    "Cleanup Mail1": {
      "main": [
        [
          {
            "node": "Separate files1",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Rename pdf1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mail in pdf upload": {
      "main": [
        []
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Mail in pdf upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "1e584366-3942-4fef-8304-997df4c5532d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f52df6f7e8d33c9bba620dff08be36a67b7d4d89cc385cb4945c4e1f60114e51"
  },
  "id": "0zGE68ANcamVoupE",
  "tags": []
}